<% provide(:title, @client.first_name + ' ' + @client.last_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
          <%= @client.first_name + ' '+ @client.last_name %>
      </h1>
    </section>
  </aside>
</div>
