<% provide(:title, 'Create Note Template') %>
<% content_for :page_js do -%>

    <%= javascript_include_tag 'note_template',"data-turbolinks-track" => true %>

<% end -%>

<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-reorder"></i>Create Note Template
    </div>
   </div>
  <div class="portlet-body form">
    <!-- BEGIN FORM-->
    <%= render 'form' %>
    <!-- END FORM-->
  </div>
</div>