<% provide(:title, @consultation_type.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @consultation_type.name %>
        <%= @consultation_type.cost %>
      </h1>
    </section>
  </aside>
</div>
