<% provide(:title, "Edit practitioners") %>
<h1>Update Practitioner</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'form' %>

    <%= link_to 'Show', @transaction %> |
    <%= link_to 'Back', transactions_path %>

  </div>
</div>